.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-size: 24px;
    font-weight: 300;
  }
  label {
    font-size: 15px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-size: 10px;
    }

    input,
    select {
      width: 100px;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  .top {
    input {
      width: 100%;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .item {
      input,
      select {
        width: 70px;
        padding: 10px;
        outline: none;
        border-radius: 5px;
      }
    }

    button {
      width: 60px;
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: #fece51;
      transition: all 1s ease;
      border-radius: 10px;

      &:hover{
        background-color: black;
        color: white;
        scale: 1.05;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
